<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.Katampu22a.base.TestBase"/>
      <class name="com.Katampu22a.HomePageTest"/>
      <class name="com.Katampu22a.SearchCarFunctionality"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
